<%- include("partials/header") -%>

<body style="background-image: url(BG-customer.jpg);">
<div>

    <a href="/" style="color: white; font-size: 50px"><i class="bi bi-house-fill"></i></a>

</div>
<div class="center container" style="opacity: 0.8; margin-top:5px;  border: rgb(67, 190, 149) solid; background-color: rgb(67, 190, 149); border-radius: 50px;">

    <h1 style="    color: white;
            text-shadow: 2px 3px black;
            font-size: 70px;
            font-weight: bold;">Select Table</h1>
</div>



<div class="row ">

    <div class="col-lg-6 col-md-6 col-sm-6 spaceH">
        <a href="menu.ejs" class="btn btn-light btn-lg active  spaceH" style=" font-size: 100px;
                width: 300px;
                border-radius: 30%;
                border: 2px solid;" role="button" aria-disabled="true">1</a>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 spaceH">
        <a href="menu.ejs" class="btn btn-light btn-lg active  spaceH" style=" font-size: 100px;
                width: 300px;
                border-radius: 30%;
                border: 2px solid;" role="button" aria-disabled="true">2</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 spaceH">
        <a href="#" class="btn btn-light btn-lg active  spaceH" style=" font-size: 100px;
                width: 300px;
                border-radius: 30%;
                border: 2px solid;" role="button" aria-disabled="true">3</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 spaceH">
        <a href="#" class="btn btn-light btn-lg active  spaceH" style=" font-size: 100px;
                width: 300px;
                border-radius: 30%;
                border: 2px solid;" role="button" aria-disabled="true">4</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 spaceH">
        <a href="#" class="btn btn-light btn-lg active  spaceH" style=" font-size: 100px;
                width: 300px;
                border-radius: 30%;
                border: 2px solid;" role="button" aria-disabled="true">5</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 spaceH">
        <a href="#" class="btn btn-light btn-lg active  spaceH" style=" font-size: 100px;
                width: 300px;
                border-radius: 30%;
                border: 2px solid;" role="button" aria-disabled="true">6</a>
    </div>
</div>

<div style="margin-top: 30px;">
    <div style="margin-left: 40px;">
        <div style=" height:50px; width: 50px;background-color:white; border-radius: 30%; border:solid 2px black;"></div>
        <h3 style="color: white;">Avaliable</h3>
        <div style=" height:50px; width: 50px;background-color:red; border-radius: 30%; border:solid 2px black;"></div>
        <h3 style="color: white;">Reserve</h3>

    </div>
</div>



<%- include("partials/footer") -%>
</body>