<%- include("partials/header") -%>


<body style="background-color: #414040; text-align: center;">
    <h1 class="container" style="color: white; font-weight: bold; text-shadow: 4px 3px black;">Connoisseur</h1>
</div>

<div class="container">
    <h1 style="color: white; padding-top: 20px;">Please Select!</h1>
</div>
<div>
    <a href="/indexKitchen.ejs" class="btn btn-warning btn-lg active" role="button" aria-disabled="true">Kitchen</a>
    <a href="/order.ejs" class="btn btn-success btn-lg active" role="button" aria-disabled="true">Customer</a>
</div>



<%- include("partials/footer") -%>
</body>