<%- include("partials/header") -%>

    <body style="background-image: url(BG-customer.jpg);">
        <header>

            <nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-light" style="opacity:0.8">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Menu</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/indexCustomer.ejs">Select Table</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Menu
                            </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#appetizer">Appetizer</a></li>
                                    <li><a class="dropdown-item" href="#mainDish">Main Dish</a></li>
                                    <li><a class="dropdown-item" href="#dessert">Dessert</a></li>
                                    <li><a class="dropdown-item" href="#beverage">Beverage</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="nav-link active" href="#cart">My Order</a>
                            </li>
                            </li>

                        </ul>
                        <form class="d-flex">

                            <input id="searchBar" name="search" onkeyup="search_food_info()" class="form-control me-2" type="search" placeholder="Search Food" aria-label="Search">
                            <button onClick="window.location.reload();">Refresh Page</button>
                        </form>
                    </div>
                </div>
            </nav>

        </header>

        <!-- ----------------------------------------------------------------------------------------------------------------------------- -->
        <section class="container content-section" id="appetizer" style="margin-top: 70px;">

            <!-- ข้อมูลอาหาร https://www.foodandwine.com/appetizers/all-american-appetizers?slide=c5478557-3171-4fbc-a159-de193dbd25ac#c5478557-3171-4fbc-a159-de193dbd25ac -->

            <h2 class="section-header">Appetizer</h2>

            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Sticky Baked Chicken Wings</span>
                    <img class="shop-item-image" src="/foodImg/Appetizer/Sticky Baked Chicken Wings.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $3.33</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold; text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Caesar Salad Spears</span>
                    <img class="shop-item-image" src="/foodImg/Appetizer/Caesar Salad Spears.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $2.70</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Pickled Shrimp with Creamy Spinach Dip</span>
                    <img class="shop-item-image" src="/foodImg/Appetizer/Pickled Shrimp with Creamy Spinach Dip.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $4.00</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Pigs in a Blanket with Black Pepper Pastry</span>
                    <img class="shop-item-image" src="/foodImg/Appetizer/Pigs in a Blanket with Black Pepper Pastry.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $4.50</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="container content-section" id="mainDish">
            <h2 class="section-header">Main Dish</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">LAMB BOLOGNESE WITH FETA & MINT</span>
                    <img class="shop-item-image" src="/foodImg/Main dish/LAMB BOLOGNESE WITH FETA & MINT.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $8.99</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">ROASTED PORTOBELLO TOPPED WITH SPICY SHRIMP BRUSCHETTA (PALEO/WHOLE30)</span>
                    <img class="shop-item-image" src="/foodImg/Main dish/ROASTED PORTOBELLO TOPPED WITH SPICY SHRIMP BRUSCHETTA.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $11.99</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">GRILLED CHICKEN WITH FRESH CHERRY SALSA</span>
                    <img class="shop-item-image" src="/foodImg/Main dish/GRILLED CHICKEN WITH FRESH CHERRY SALSA.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $9.00</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Braised Chicken Legs With Grapes and Fennel</span>
                    <img class="shop-item-image" src="/foodImg/Main dish/Braised Chicken Legs With Grapes and Fennel.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $7.60</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Seared Scallops With Brown Butter and Lemon Pan Sauce</span>
                    <img class="shop-item-image" src="/foodImg/Main dish/Seared Scallops With Brown Butter and Lemon Pan Sauce.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $10.00</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="container content-section" id="dessert">
            <h2 class="section-header">Dessert</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Mille crepe</span>
                    <img class="shop-item-image" src="/foodImg/Dessert/Mille crepe.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $3.00</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Cashew nut brownie</span>
                    <img class="shop-item-image" src="/foodImg/Dessert/Cashew nut brownie.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $2.50</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Tiramisu</span>
                    <img class="shop-item-image" src="/foodImg/Dessert/Tiramisu.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $4.00</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>

            </div>
        </section>

        <section class="container content-section" id="beverage">
            <h2 class="section-header">Beverage</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Orange Juice</span>
                    <img class="shop-item-image" src="/foodImg/Beverage/Orange Juice.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $2.00</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Watermelon Smoothie</span>
                    <img class="shop-item-image" src="/foodImg/Beverage/Watermelon Smoothie.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $2.00</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Red Lime Soda</span>
                    <img class="shop-item-image" src="/foodImg/Beverage/Red Lime Soda.png">
                    <div>
                        <h4 class="fontOrder">Price:
                            <span class="shop-item-price"> $2.00</span><br></h4>
                        <button class="btn btn-warning shop-item-button" type="button" style="color: white; font-weight: bold;text-shadow: 1px 1px black;">ADD TO CART</button>
                    </div>
                </div>

            </div>
        </section>



        <section class="container content-section" id="cart">
            <h2 class="section-header">My Order</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">



            </div>
            </div>
            <div class="cart-total ">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0.00</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>

        <script>
            function search_food_info() {
                let input = document.getElementById('searchBar').value
                input = input.toLowerCase();
                let x = document.getElementsByClassName('shop-item-title');
                let y = document.getElementsByClassName('shop-item-image');
                let z = document.getElementsByClassName('fontOrder');
                let a = document.getElementsByClassName('shop-item-price');
                let b = document.getElementsByClassName('shop-item-button');

                for (i = 0; i < x.length; i++) {
                    if (!x[i].innerHTML.toLowerCase().includes(input)) {
                        x[i].style.display = "none";
                        y[i].style.display = "none";
                        z[i].style.display = "none";
                        a[i].style.display = "none";
                        b[i].style.display = "none";

                    } else if (input) {
                        x[i].style.display = "item";
                        y[i].style.display = "item";
                        z[i].style.display = "item";
                        a[i].style.display = "item";
                        b[i].style.display = "item";

                    }
                }
            }
        </script>

        <script>
            if (document.readyState == 'loading') {
                document.addEventListener('DOMContentLoaded', ready)
            } else {
                ready()
            }

            function ready() {
                var removeCartItemButtons = document.getElementsByClassName('btn-danger')
                for (var i = 0; i < removeCartItemButtons.length; i++) {
                    var button = removeCartItemButtons[i]
                    button.addEventListener('click', removeCartItem)
                }

                var quantityInputs = document.getElementsByClassName('cart-quantity-input')
                for (var i = 0; i < quantityInputs.length; i++) {
                    var input = quantityInputs[i]
                    input.addEventListener('change', quantityChanged)
                }

                var addToCartButtons = document.getElementsByClassName('shop-item-button')
                for (var i = 0; i < addToCartButtons.length; i++) {
                    var button = addToCartButtons[i]
                    button.addEventListener('click', addToCartClicked)
                }

                document.getElementsByClassName('btn-purchase')[0].addEventListener('click', purchaseClicked)
            }

            function purchaseClicked() {
                alert('Thank you for your purchase')
                var cartItems = document.getElementsByClassName('cart-items')[0]
                while (cartItems.hasChildNodes()) {
                    cartItems.removeChild(cartItems.firstChild)
                }
                updateCartTotal()
            }

            function removeCartItem(event) {
                var buttonClicked = event.target
                buttonClicked.parentElement.parentElement.remove()
                updateCartTotal()
            }

            function quantityChanged(event) {
                var input = event.target
                if (isNaN(input.value) || input.value <= 0) {
                    input.value = 1
                }
                updateCartTotal()
            }

            function addToCartClicked(event) {
                var button = event.target
                var shopItem = button.parentElement.parentElement
                var title = shopItem.getElementsByClassName('shop-item-title')[0].innerText
                var price = shopItem.getElementsByClassName('shop-item-price')[0].innerText
                var imageSrc = shopItem.getElementsByClassName('shop-item-image')[0].src
                addItemToCart(title, price, imageSrc)
                updateCartTotal()
            }

            function addItemToCart(title, price, imageSrc) {
                var cartRow = document.createElement('div')
                cartRow.classList.add('cart-row')
                var cartItems = document.getElementsByClassName('cart-items')[0]
                var cartItemNames = cartItems.getElementsByClassName('cart-item-title')
                for (var i = 0; i < cartItemNames.length; i++) {
                    if (cartItemNames[i].innerText == title) {
                        alert('This item is already added to the cart')
                        return
                    }
                }
                var cartRowContents = `
        <div class="cart-item cart-column">
            <img class="cart-item-image" src="${imageSrc}" width="100" height="100">
            <span class="cart-item-title">${title}</span>
        </div>
        <span class="cart-price cart-column">${price}</span>
        <div class="cart-quantity cart-column">
            <input class="cart-quantity-input" type="number" value="1">
            <button class="btn btn-danger" type="button">REMOVE</button>
        </div>`
                cartRow.innerHTML = cartRowContents
                cartItems.append(cartRow)
                cartRow.getElementsByClassName('btn-danger')[0].addEventListener('click', removeCartItem)
                cartRow.getElementsByClassName('cart-quantity-input')[0].addEventListener('change', quantityChanged)
            }

            function updateCartTotal() {
                var cartItemContainer = document.getElementsByClassName('cart-items')[0]
                var cartRows = cartItemContainer.getElementsByClassName('cart-row')
                var total = 0
                for (var i = 0; i < cartRows.length; i++) {
                    var cartRow = cartRows[i]
                    var priceElement = cartRow.getElementsByClassName('cart-price')[0]
                    var quantityElement = cartRow.getElementsByClassName('cart-quantity-input')[0]
                    var price = parseFloat(priceElement.innerText.replace('$', ''))
                    var quantity = quantityElement.value
                    total = total + (price * quantity)
                }
                total = Math.round(total * 100) / 100
                document.getElementsByClassName('cart-total-price')[0].innerText = '$' + total
            }
        </script>


        <%- include("partials/footer") -%>
    </body>