<%- include("partials/header") -%>

    <body style="background-image: url(BG-Order.jpg);">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6">
                <h1 class="fontOrder">Order lists: </h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: right; text-shadow: 3px 3px black;">
                <a href="/" style="color: white; font-size: 50px"><i class="bi bi-house-fill"></i></a>
            </div>

            <!-- Title -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h3 class="fontOrder">Number: </h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h3 class="fontOrder">Detail: </h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h3 class="fontOrder">Status: </h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h3 class="fontOrder">Date: </h3>
            </div>

            <!-- รายการ -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h3 class="fontOrder">1 </h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h3 class="fontOrder">Detail: </h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h3 class="fontOrder">Status: </h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h3 class="fontOrder">Date: </h3>
            </div>
        </div>



        <%- include("partials/footer") -%>
    </body>