<%- include("partials/header") -%>

    <body style="background-image: url(BG-Order.jpg);">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: right; text-shadow: 3px 3px black;">
                <button onClick="window.location.reload();" style="background-color: rgb(77, 71, 64); border-radius: 50%; font-weight: bold; color: white; text-shadow: 2px 2px black;">Refresh Page</button>
                <a href="/" style="color: white; font-size: 50px"><i class="bi bi-house-fill"></i></a>
            </div>

            <h1 class="fontOrder">Order lists: </h1>


            <!-- Title -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center; background-color: gray;">
                <h3 class="fontOrder">Number: </h3>
                <h3 class="fontOrder">Detail: </h3>
                <h3 class="fontOrder">Status: </h3>
                <h3 class="fontOrder">Date: </h3>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: gray;">
                <h3 class="fontOrder">1 </h3>
                <h3 class="fontOrder">None </h3>
                <h3 class="fontOrder"><button style="background-color: rgb(211, 127, 127);">cook</button><button style="background-color: rgb(126, 214, 126);">serve</button> </h3>
                <h3 class="fontOrder">None </h3>
            </div>

            <!-- Title -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: rgb(53, 53, 53);">
                <h3 class="fontOrder">Number: </h3>
                <h3 class="fontOrder">Detail: </h3>
                <h3 class="fontOrder">Status: </h3>
                <h3 class="fontOrder">Date: </h3>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: rgb(53, 53, 53);">
                <h3 class="fontOrder">2 </h3>
                <h3 class="fontOrder">None </h3>
                <h3 class="fontOrder"><button style="background-color: rgb(211, 127, 127);">cook</button><button style="background-color: rgb(126, 214, 126);">serve</button> </h3>
                <h3 class="fontOrder">None </h3>
            </div>

            <!-- Title -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center; background-color: gray;">
                <h3 class="fontOrder">Number: </h3>
                <h3 class="fontOrder">Detail: </h3>
                <h3 class="fontOrder">Status: </h3>
                <h3 class="fontOrder">Date: </h3>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: gray;">
                <h3 class="fontOrder">3 </h3>
                <h3 class="fontOrder">None </h3>
                <h3 class="fontOrder"><button style="background-color: rgb(211, 127, 127);">cook</button><button style="background-color: rgb(126, 214, 126);">serve</button> </h3>
                <h3 class="fontOrder">None </h3>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: rgb(53, 53, 53);">
                <h3 class="fontOrder">Number: </h3>
                <h3 class="fontOrder">Detail: </h3>
                <h3 class="fontOrder">Status: </h3>
                <h3 class="fontOrder">Date: </h3>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: rgb(53, 53, 53);">
                <h3 class="fontOrder">4 </h3>
                <h3 class="fontOrder">None </h3>
                <h3 class="fontOrder"><button style="background-color: rgb(211, 127, 127);">cook</button><button style="background-color: rgb(126, 214, 126);">serve</button> </h3>
                <h3 class="fontOrder">None </h3>
            </div>
            <!-- Title -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center; background-color: gray;">
                <h3 class="fontOrder">Number: </h3>
                <h3 class="fontOrder">Detail: </h3>
                <h3 class="fontOrder">Status: </h3>
                <h3 class="fontOrder">Date: </h3>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: gray;">
                <h3 class="fontOrder">5 </h3>
                <h3 class="fontOrder">None </h3>
                <h3 class="fontOrder"><button style="background-color: rgb(211, 127, 127);">cook</button><button style="background-color: rgb(126, 214, 126);">serve</button> </h3>
                <h3 class="fontOrder">None </h3>
            </div>
            <!-- Title -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: rgb(53, 53, 53);">
                <h3 class="fontOrder">Number: </h3>
                <h3 class="fontOrder">Detail: </h3>
                <h3 class="fontOrder">Status: </h3>
                <h3 class="fontOrder">Date: </h3>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: rgb(53, 53, 53);">
                <h3 class="fontOrder">6 </h3>
                <h3 class="fontOrder">None </h3>
                <h3 class="fontOrder"><button style="background-color: rgb(211, 127, 127);">cook</button><button style="background-color: rgb(126, 214, 126);">serve</button> </h3>
                <h3 class="fontOrder">None </h3>
            </div>

        </div>



        <%- include("partials/footer") -%>
    </body>