body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    text-align: center;
}

.center {
    margin: auto;
    width: auto;
    border: 3px solid;
    padding: 5px;
}

.spaceH {
    text-align: center;
    margin-top: 50px;
}

.decolateTable {
    font-size: 100px;
    width: 300px;
    border-radius: 30%;
    border: 2px solid;
}

